<ion-header>
  <ion-toolbar>
    <ion-title>Nueva Nota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form (ngSubmit)="addNota()">
      <ion-item>
        <ion-label>Título: </ion-label>
        <ion-input type="text" [(ngModel)]="notaDto.titulo" name="titulo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Categoría: </ion-label>
        <!--<ion-input [(ngModel)]="notaDto.categoriaId" name="categoriaId" type="hidden"></ion-input>-->
        <ion-select [(ngModel)]="notaDto.categoriaNombre" interface="popover" name="categoriaNombre">
          <ion-select-option *ngFor="let categoria of categorias">
            {{categoria.data.titulo}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Descripción: </ion-label>
        <ion-textarea [(ngModel)]="notaDto.descripcion" name="descripcion"></ion-textarea>
      </ion-item>
      <ion-button expand="block" color="danger" (click)="cerrar()" block>Cancelar</ion-button>
      <ion-button expand="block" type="submit" block>Guardar</ion-button>
    </form>
</ion-content>
