<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" padding=32px size="large" name="paper"></ion-icon>
    <ion-title>
      Notas 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- List of Text Items -->
  <ion-list *ngFor="let nota of listadoNotas">
    <ion-item>
      <ion-label>{{nota.data.titulo}}</ion-label>
      <ion-label>{{nota.data.categoria}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="crearNotaModal()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
